.card{
	width: 640px;
	margin-bottom: 50px;


}

.md-card-image{
		height: 600px;
		width: 600px;
}

.lock-size .text-capitalize {
  text-transform: capitalize; }
.lock-size .md-fab:hover, .lock-size .md-fab.md-focused {
  background-color: #000 !important; }
.lock-size p.note {
  font-size: 1.2rem; }
.lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }